@{
    ViewData["Title"] = "Winner";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-8 content-center">
            <h2>...And the winner is....</h2>
            <h1 class="h1-winner">@ViewBag.WinnerName</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-6">
            <img id="spyro-learn-img" src="~/images/win.gif" />
        </div>
    </div>
</div>