@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-8 content-center">
            <h1>...Ooops, some error happened....</h1>
            <br/> <br/>
            <h2>@ViewBag.Message</h2>  <br/>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-4">
            <img id="spyro-learn-img" src="~/images/baby.jpg" />
        </div>
    </div>
</div>