@model SpyrosoftLearn.Dtos.IntervalDto

<div class="row justify-content-md-center">
    @(await Html.RenderComponentAsync<SpyrosoftLearn.Views.Shared.BlazorComponent.Interval>
        (RenderMode.ServerPrerendered,
        new { UserName = Model.UserName, 
              UserId = Model.UserId, 
              UserConfigNumber = Model.UserConfigNumber, 
              NumberOfClicks = Model.NumberOfClicks,
              IsAdmin = Model.IsAdmin
        }))
</div>
