<div>   
    @(await Html.RenderComponentAsync<SpyrosoftLearn.Views.Shared.BlazorComponent.Interval>(RenderMode.ServerPrerendered, new { UserName = @ViewBag.UserName, UserId = @ViewBag.UserId, UserConfigNumber = @ViewBag.UserConfigNumber }))
</div>