@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-8 content-center">
            <h2>Welcome to</h2>
            <h1 class="landing-h1"><b>Unravel Microservices with Dapr and Tye</b></h1>
            <br />
            <p class="landing-link">
                Please 
                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                or 
                <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                to continue
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-8">
            <img id="spyro-learn-img" src="~/images/spyroLearn.png" />
        </div>
    </div>
</div>
